/*base styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  color: #0d1393;
  background: url(../public/employe_communication.gif) center no-repeat;

  min-height: 100vh;

  font-family: Arial, sans-serif;
}

/* Reset styles */

p:last-child {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
